# dependencies
node_modules/
backend/node_modules/

# local cloud/tooling config
.gcloud-config/
.firebase/

# local env/secrets/logs
*.log
firebase-debug.log
backend/serviceAccountKey.json
proypers2025-5b45437299b5.json

# build outputs
/dist/
.angular/
